<article>
	<header>
		<div class="left">
			<a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
			<% if signin? && comment.user == current_user %>
			<%= link_to '编辑', edit_post_comment_path(@post, comment) %>
			<% end -%>
		</div>
		<div class="right">
			<span class="time">
				由 <%= comment.user.username %> 创建于 <%= timeago_tag comment.created_at %> 之前
			</span>
		</div>
	</header>
	<%= raw markdown(comment.content) %>
</article>

