<div class="sign-form" >
  <div class="sign-box">
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    

  <fieldset>
    <% if @user.new_record? %>
    <legend>注册</legend>
    <% else %>
    <legend>修改用户信息</legend>
    <% end -%>
    <div class="control-group">
      <%= f.label :username, '用户名' %> <br>
      <%= f.text_field :username, size: 40 %>
    </div>
    <div class="control-group">
      <%= f.label :email, '邮箱' %><br>
      <%= f.text_field :email, size: 40 %>
    </div>
    <div class="control-group">
      <%= f.label :password, '密码' %><br>
      <%= f.password_field :password, size: 40 %>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, '确认密码' %><br>
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>
    <div class="control-group">
          
    <% if @user.new_record? %>
    <%= f.submit '注册' %>
    <% else %>
    <%= f.submit '确认修改' %>
    <% end -%>
    </div>
  </fieldset>
</div>

  <% end %>
</div>