<p id="notice"><%= notice %></p>
<p>
  <b>用户名:</b>
  <%= @user.username %>
</p>
<p>
  <b>邮箱:</b>
  <%= @user.email %>
</p>
<p>
	<b>状态:</b>
	<% if session[:user_id] == @user.id %>
		<b>在线</b>
	<% else %>
		<b>离线</b>
	<% end %>
</p>
<p>
  <b>密码:</b>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
