<p id="notice"><%= notice %></p>

<div id="post-list"><div class="post-list-box">
  <div class="sorts">
    主板块:<%= @board.mainboard.name %>>>子板块:<%= @board.name %>     最新文章    <%= link_to '发布新文章', new_post_path(:board => @board.id) %>
  </div>
  <% if @board.posts.count == 0 %>
  <h1>该板块目前没有文章</h1>
  <% end -%>
<% @board_posts.each do |post| %>
    <div class="post-line">
      <div class="title">
      <%= link_to post.title, post %>
      </div>
      <div class="info">
        由<a href="/users/<%= post.user_id %>"><%= User.find(post.user_id).username %></a>发布于<%= post.created_at %> |
        <% if signin? && @current_user.id == post.user_id %>
          <%= link_to '编辑', edit_post_path(post) %> |
          <%= link_to '删除', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end -%>
      </div>   
    </div>
<% end %>
<%= will_paginate @board_posts %>
</div></div>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
