<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="post-editor" >
  <div class="post-box">
    <% if @post.new_record? %>
      <h2>发布新文章/讨论区:</h2>
    <% else %>
      <h2>编辑文章</h2>
    <% end -%>
    <%= form_for @post do |f| %>
      <%= collection_select :post, :board_id, Board.all, :id, :same_as_record, :prompt => "请选择讨论区" %>
      <%= f.text_field :title, placeholder: "标题" %> 
      <div id="editor-button-bar"></div>
      <%= f.text_area :content, placeholder: "正文"  %>
      <div id="editor-preview"></div>
      <% if @post.new_record? %>
        <%= f.submit "发布",  :class => "btn"%> <%= link_to '取消', posts_path, :class => "btn" %>
      <% else %>
        <%= f.submit "更新", :class => "btn" %> <%= link_to '取消', posts_path, :class => "btn" %>
      <% end -%>        
    <% end %> 
  </div>
</div>
<% end %>


<script type="text/javascript">
  new WMDEditor({
    input: "post_content",
    button_bar: "editor-button-bar",
    preview: "editor-preview",
    output: "copy_html",
    modifierKeys: true,
    autoFormatting: true,
    helpLink: "/markdownhelp.html"
  });
</script>

<script type="text/javascript"> 
  $("#post_board_id").chosen();
</script>