<div id="post-list"><div class="post-list-box">
  <div class="sorts">最新文章    <%= link_to '发布新文章', new_post_path %></div>
<% @posts.each do |post| %>
    <div class="post-line">
      <div class="title">
      <%= link_to post.title, post %>
      </div>
      <div class="info">
        由<a href="/users/<%= post.user_id %>"><%= User.find(post.user_id).username %></a>发布于<%= post.created_at %> |
        <% if signin? && @current_user.id == post.user_id %>
          <%= link_to '编辑', edit_post_path(post) %> |
          <%= link_to '删除', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end -%>
      </div>   
    </div>
<% end %>
<%= will_paginate @posts, :inner_window => 2 %>
</div></div>




